---
---

<section class="relative h-screen flex items-center justify-start overflow-hidden">
  <div class="absolute inset-0 z-0">
    <img 
      src="https://images.unsplash.com/photo-1585747860715-2ba37e788b70?q=80&w=2074&auto=format&fit=crop" 
      alt="Wnętrze barbershopu" 
      class="w-full h-full object-cover"
    />
    <div class="absolute inset-0 bg-zinc-950/80"></div>
  </div>

  <div class="relative z-10 text-left px-8 sm:px-12 lg:px-20 max-w-7xl mx-auto mt-20 w-full grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
    <div class="space-y-6">
      <div class="flex items-center space-x-3 text-amber-500">
          <svg class="w-12 h-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18c-2.305 0-4.408.867-6 2.292m0-14.25v14.25" />
          </svg>
          <span class="h-0.5 w-16 bg-amber-500"></span>
      </div>

      <h2 class="text-zinc-100 font-oswald tracking-widest text-xl md:text-3xl uppercase leading-snug">
        To tutaj Tradycja spotyka nowoczesność,
      </h2>
      
      <h1 class="text-6xl md:text-8xl lg:text-9xl font-oswald font-extrabold mb-10 tracking-tighter text-white uppercase leading-tight">
        Twój <span class="text-amber-500">styl</span>, <br class="hidden md:block"/> nasza <span class="text-amber-500">pasja</span>.
      </h1>
      
      <p class="text-xl text-zinc-300 mb-14 max-w-2xl font-medium leading-relaxed">
        Zapewniamy najwyższej jakości strzyżenie męskie, trymowanie brody i klasyczne golenie brzytwą w męskiej, luźnej atmosferze. Oddaj się w ręce profesjonalistów i poczuj różnicę.
      </p>
      
      <div class="flex flex-col sm:flex-row gap-6 justify-start pt-4">
        <a href="#rezerwacja" class="bg-amber-500 text-zinc-950 px-12 py-5 rounded-full font-bold text-xl hover:bg-amber-400 transition-colors uppercase font-oswald tracking-wider shadow-xl shadow-amber-500/20">
          UMÓW WIZYTĘ
        </a>
        <a href="#uslugi" class="bg-zinc-900/50 backdrop-blur-sm border border-zinc-700 text-zinc-100 px-12 py-5 rounded-full font-bold text-xl hover:bg-zinc-800 transition-colors uppercase font-oswald tracking-wider">
          Nasze usługi
        </a>
      </div>
    </div>
    
    <div class="hidden md:block"></div>
  </div>
</section>